[package]
name = "lora-rs"
version = "0.1.0"
edition = "2024"

[profile.dev]
panic = "abort"

[profile.release]
opt-level = 0
lto = "fat"
strip = "debuginfo"
debug = false
panic = "abort"

[lib]
crate-type = ["staticlib"]

[build-dependencies]
bindgen = "0.72.1"
